html {
    box-sizing: border-box;
    font-size: 10px;
    background: #79dce9;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: 'Arial', cursive;
  }
  
  h1 {
    text-align: center;
    font-size: 45px;
    line-height: 1;
    margin-bottom: 0;
  }
  
  h3{
    position: absolute;
  }

  .play{
    position: absolute;
    top: 110px;
    left: 80px;
    font-size: 30px;
    background-color:  rgb(233, 192, 105);
    border: 2px solid black;
    border-radius: 1rem;
    padding: 10px 22px;
    font-family: sans-serif;
    animation-name: play2;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes play2 {
    from {background-color: rgb(233, 192, 105);}
    to {background-color: rgb(154, 221, 128);}
  }

  h3{
    position: fixed;
    right: 30px;
  }

  .video{
    position: absolute;
    top:180px;
    left: 20px;
  }
  
  .score {
    background: #6da70f;
    padding: 0 3rem;
    line-height: 1;
    border-radius: 1rem;
    font-size: 30px;
    animation-name: score3;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
  }
  /* @keyframes score3 {
    from {background-color: #6da70f;}
    to {background-color: rgb(97, 233, 127);}
  } */

  .score2{
    text-align: center;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 0;
  }

  #status{
  position: absolute;
  top: 300px;
  right: 90px;
  font-size: 30px;
  font-family: sans-serif;
  animation-name: timer;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
 }

 @keyframes timer {
  from {color: rgb(187, 66, 45);}
  to {color: rgb(185, 199, 59);}
}

 
 .time{
  position: absolute;
  top: 155px;
  right: 120px;
  font-size: 30px;
  font-style: Verdana;
  /* font-style: normal; */
 }

 .timeallotted{
  position: absolute;
  top: 110px;
  right: 100px;
  font-size: 30px;
  border: black;
  font-family: sans-serif;
  background-color: rgb(233, 192, 105); 
}

 .timeleft{
   position: absolute;
   top: 250px;
   right: 120px;
   font-size: 30px;
   border: black;
   background-color: rgb(233, 192, 105);
   font-family: sans-serif;
 }

  .button{
    background-color: #ee71be;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    position: relative;
    left: 540px;
    top: 20px;
    border-radius: 1rem;
    font-weight: bold;
  }

  .button:hover{
    background-color: rgb(247, 152, 204);
  }
  /* :visited{
    background-color: rgb(241, 222, 111);
  } */
  
  .game {
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
  .hole {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
  }
  
  .hole:after {
    display: block;
    background: url(dirt.svg) bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 100%;
    height:80px;
    position: absolute;
    z-index: 2;
    bottom: -30px;
    animation-name: example;
    animation-duration: 4s;
  }
  
  .mole {
    background: url('mole.svg') bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition:all 0.4s;

    /* transform: translateY(0px);
    animation-name: Amole;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
  }

  @keyframes Amole {
    to {transform: translateY(30px);}
  }
  
  .hole.up .mole {
    top: 0;
  }